---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  chartRef:
    kind: OCIRepository
    name: flux-operator
  interval: 1h
  values:
    #| Allow scheduling before CCM initializes nodes (breaks bootstrap chicken-egg) #|
    #| Ref: https://kubernetes.io/blog/2025/02/14/cloud-controller-manager-chicken-egg-problem/ #|
    tolerations:
      - key: node.cloudprovider.kubernetes.io/uninitialized
        operator: Exists
        effect: NoSchedule
    serviceMonitor:
      create: true
    webui:
      #| Disable built-in NetworkPolicy - it only allows port 9080, blocks metrics on 8080 #|
      #| We manage network policies at the CiliumNetworkPolicy level when network_policies_enabled #|
      networkPolicy:
        create: false
