---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  chartRef:
    kind: OCIRepository
    name: flux-operator
  interval: 1h
  values:
    #| Allow scheduling before CCM initializes nodes (breaks bootstrap chicken-egg) #|
    #| Ref: https://kubernetes.io/blog/2025/02/14/cloud-controller-manager-chicken-egg-problem/ #|
    tolerations:
      - key: node.cloudprovider.kubernetes.io/uninitialized
        operator: Exists
        effect: NoSchedule
    serviceMonitor:
      create: true
