#% if dragonfly_enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: dragonfly-auth
type: Opaque
stringData:
  password: "#{ dragonfly_password }#"
#% if dragonfly_backup_enabled | default(false) %#
  #| S3 credentials for RustFS backup #|
  AWS_ACCESS_KEY_ID: "#{ dragonfly_s3_access_key }#"
  AWS_SECRET_ACCESS_KEY: "#{ dragonfly_s3_secret_key }#"
#% endif %#
#% if dragonfly_acl_enabled | default(false) %#
  #| ACL configuration for multi-tenant access #|
  #| Note: +@connection required for PING, AUTH, CLIENT commands #|
  #| Note: allchannels required for pub/sub (Dragonfly doesn't parse &* correctly) #|
  acl.conf: |
    user default on >#{ dragonfly_password }# ~* allchannels +@all
#% if dragonfly_keycloak_password | default('') %#
    user keycloak on >#{ dragonfly_keycloak_password }# ~keycloak:* +@read +@write +@connection -@dangerous
#% endif %#
#% if dragonfly_appcache_password | default('') %#
    user appcache on >#{ dragonfly_appcache_password }# ~cache:* +@read +@write +@connection -@dangerous
#% endif %#
#% if dragonfly_litellm_password | default('') %#
    user litellm on >#{ dragonfly_litellm_password }# ~litellm:* +@read +@write +@connection -@dangerous
#% endif %#
#% if dragonfly_langfuse_password | default('') %#
    #| Note: Langfuse requires ~* and broad permissions for BullMQ job queues #|
    #| Note: allchannels required for BullMQ pub/sub job notifications #|
    #| +INFO added after -@dangerous because Dragonfly categorizes INFO as @dangerous #|
    user langfuse on >#{ dragonfly_langfuse_password }# ~* allchannels +@all -@dangerous +INFO +CONFIG
#% endif %#
#% if dragonfly_mcpgateway_password | default('') %#
    #| Note: MCP Context Forge requires broad access for leader election (gateway_service_leader), #|
    #| cache keys (mcpgw:*), and session management #|
    #| Note: allchannels required for pub/sub channels (mcpgateway:gateway_events, cancellation:cancel) #|
    user mcpgateway on >#{ dragonfly_mcpgateway_password }# ~* allchannels +@all -@dangerous +INFO
#% endif %#
#% endif %#
#% endif %#
