#% if dragonfly_enabled | default(false) %#
---
#| Operator runs in its own namespace (upstream default) #|
apiVersion: v1
kind: Namespace
metadata:
  name: dragonfly-operator-system
  labels:
    kustomize.toolkit.fluxcd.io/prune: disabled
    pod-security.kubernetes.io/enforce: restricted
    pod-security.kubernetes.io/audit: restricted
    pod-security.kubernetes.io/warn: restricted
#% endif %#
