#% if headlamp_enabled | default(false) %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./helmrepository.yaml
  - ./networkpolicy.yaml
  - ./referencegrant.yaml
#% if kubernetes_oidc_enabled | default(false) %#
  - ./oidc-rbac.yaml
#% endif %#
#% if headlamp_ai_assistant_enabled | default(false) %#
  - ./ai-assistant-configmap.yaml
#% endif %#
#% endif %#
