#% if headlamp_enabled | default(false) %#
---
#| ============================================================================= #|
#| OCI Repository - Headlamp Helm Chart                                          #|
#| ============================================================================= #|
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: headlamp
  namespace: kube-system
spec:
  interval: 30m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: #{ headlamp_chart_version | default('0.30.0') }#
  url: oci://ghcr.io/headlamp-k8s/headlamp
#% endif %#
