#% if monitoring_enabled is defined and monitoring_enabled and monitoring_stack == 'prometheus' %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
#% endif %#
