#% if monitoring_enabled | default(false) and monitoring_stack == 'prometheus' %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./secret.sops.yaml
#| NOTE: Grafana HTTPRoute moved to network/envoy-gateway for OIDC protection #|
  #| ReferenceGrant must be in monitoring (target namespace) for cross-ns routing #|
  - ./referencegrant.yaml
#% endif %#
