#% if cilium_bgp_password is defined %#
---
#| BGP Authentication Secret - TCP MD5 password (RFC 2385) #|
apiVersion: v1
kind: Secret
metadata:
  name: bgp-peer-password
type: Opaque
stringData:
  password: "#{ cilium_bgp_password }#"
#% endif %#
