#% if network_policies_enabled | default(false) and monitoring_enabled | default(false) and monitoring_stack | default('victoriametrics') == 'victoriametrics' %#
#% set enforce = network_policies_mode | default('audit') == 'enforce' %#
---
#| VictoriaMetrics Single network policy: Time-series database #|
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: vmsingle
  namespace: monitoring
spec:
  description: "VictoriaMetrics Single: Receive metrics from vmagent, serve queries"
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: vmsingle
  enableDefaultDeny:
    egress: #{ enforce | lower }#
    ingress: #{ enforce | lower }#
  ingress:
    #| Receive metrics from vmagent #|
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/name: vmagent
      toPorts:
        - ports:
            - port: "8429"
              protocol: TCP
    #| Queries from Grafana #|
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/name: grafana
      toPorts:
        - ports:
            - port: "8429"
              protocol: TCP
    #| Self-scraping for VM metrics #|
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/name: vmagent
      toPorts:
        - ports:
            - port: "8429"
              protocol: TCP
  egress:
    #| DNS resolution #|
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
#% endif %#
