---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./cloudflare-dns/ks.yaml
  - ./cloudflare-tunnel/ks.yaml
  - ./envoy-gateway/ks.yaml
  #% if unifi_host is defined and unifi_api_key is defined %#
  - ./unifi-dns/ks.yaml
  #% endif %#
  #% if not (unifi_host is defined and unifi_api_key is defined) %#
  - ./k8s-gateway/ks.yaml
  #% endif %#
