---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./cloudflare-dns/ks.yaml
  - ./cloudflare-tunnel/ks.yaml
  - ./envoy-gateway/ks.yaml
  #% if unifi_dns_enabled %#
  - ./unifi-dns/ks.yaml
  #% endif %#
  #% if k8s_gateway_enabled %#
  - ./k8s-gateway/ks.yaml
  #% endif %#
