#% if monitoring_enabled is defined and monitoring_enabled %#
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
#% endif %#
