---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./certificate.yaml
  - ./envoy.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./pdb.yaml
  - ./podmonitor.yaml
#% if oidc_issuer_url is defined and oidc_jwks_uri is defined %#
  - ./securitypolicy-jwt.yaml
#% endif %#
