---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./certificate.yaml
  - ./envoy.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./pdb.yaml
  - ./podmonitor.yaml
  #| Centralized internal HTTPRoutes for OIDC protection support #|
  - ./internal-httproutes.yaml
  - ./referencegrants.yaml
#% if oidc_enabled %#
  - ./securitypolicy-jwt.yaml
#% endif %#
#% if oidc_sso_enabled %#
  - ./secret-oidc.sops.yaml
  - ./securitypolicy-oidc.yaml
#% endif %#
