#% if keycloak_enabled | default(false) %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
#% if (keycloak_db_mode | default('embedded')) == 'embedded' %#
  - ./postgres-embedded.yaml
#% if keycloak_backup_enabled | default(false) %#
  - ./postgres-backup-cronjob.yaml
#% endif %#
#% else %#
  - ./postgres-cnpg.yaml
#% endif %#
  - ./keycloak-cr.yaml
  - ./httproute.yaml
  - ./realm-import.yaml
#% if keycloak_monitoring_enabled | default(false) %#
  #| NOTE: ServiceMonitor is automatically created by Keycloak Operator when #|
  #|       metrics-enabled: true is set in the Keycloak CR additionalOptions #|
  - ./dashboard-troubleshooting.yaml
  - ./dashboard-capacity-planning.yaml
#% endif %#
#% if network_policies_enabled | default(false) and (keycloak_db_mode | default('embedded')) == 'cnpg' %#
  - ./networkpolicy-postgres.yaml
#% endif %#
#% endif %#
