#% if keycloak_enabled | default(false) %#
---
apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: #{ keycloak_realm | default('matherlynet') }#-realm
  namespace: identity
spec:
  keycloakCRName: keycloak
  realm:
    realm: #{ keycloak_realm | default('matherlynet') }#
    enabled: true
    #| SSO Session Settings #|
    displayName: #{ keycloak_realm | default('matherlynet') | title }# Realm
    ssoSessionIdleTimeout: 1800
    ssoSessionMaxLifespan: 36000
    #| Access Token Settings #|
    accessTokenLifespan: 300
    accessTokenLifespanForImplicitFlow: 900
    #| Login Settings #|
    registrationAllowed: false
    resetPasswordAllowed: true
    rememberMe: true
    loginWithEmailAllowed: true
    duplicateEmailsAllowed: false
    #| Brute Force Protection #|
    bruteForceProtected: true
    permanentLockout: false
    maxFailureWaitSeconds: 900
    minimumQuickLoginWaitSeconds: 60
    waitIncrementSeconds: 60
    quickLoginCheckMilliSeconds: 1000
    maxDeltaTimeSeconds: 43200
    failureFactor: 5
#| =========================================================================== #|
#| REALM ROLES - RBAC role hierarchy following Kubernetes patterns             #|
#| Roles defined in keycloak_realm_roles + any IdP mapper-referenced roles     #|
#| Best Practice: Use principle of least privilege with hierarchical roles     #|
#| Kubernetes alignment: admin=cluster-admin, operator=admin, dev=edit, viewer #|
#| REF: https://kubernetes.io/docs/concepts/security/rbac-good-practices/      #|
#| =========================================================================== #|
#% set configured_role_names = [] %#
#% if keycloak_realm_roles is defined and keycloak_realm_roles %#
#%   for role in keycloak_realm_roles %#
#%     set _ = configured_role_names.append(role.name) %#
#%   endfor %#
#% endif %#
#% set idp_mapper_roles = [] %#
#% if google_default_role is defined and google_default_role %#
#%   if google_default_role not in configured_role_names and google_default_role not in idp_mapper_roles %#
#%     set _ = idp_mapper_roles.append(google_default_role) %#
#%   endif %#
#% endif %#
#% if google_domain_role_mapping is defined and google_domain_role_mapping.role is defined %#
#%   if google_domain_role_mapping.role not in configured_role_names and google_domain_role_mapping.role not in idp_mapper_roles %#
#%     set _ = idp_mapper_roles.append(google_domain_role_mapping.role) %#
#%   endif %#
#% endif %#
#% if github_default_role is defined and github_default_role %#
#%   if github_default_role not in configured_role_names and github_default_role not in idp_mapper_roles %#
#%     set _ = idp_mapper_roles.append(github_default_role) %#
#%   endif %#
#% endif %#
#% if github_org_role_mapping is defined and github_org_role_mapping.role is defined %#
#%   if github_org_role_mapping.role not in configured_role_names and github_org_role_mapping.role not in idp_mapper_roles %#
#%     set _ = idp_mapper_roles.append(github_org_role_mapping.role) %#
#%   endif %#
#% endif %#
#% if microsoft_default_role is defined and microsoft_default_role %#
#%   if microsoft_default_role not in configured_role_names and microsoft_default_role not in idp_mapper_roles %#
#%     set _ = idp_mapper_roles.append(microsoft_default_role) %#
#%   endif %#
#% endif %#
#% if microsoft_group_role_mappings is defined and microsoft_group_role_mappings %#
#%   for mapping in microsoft_group_role_mappings %#
#%     if mapping.role not in configured_role_names and mapping.role not in idp_mapper_roles %#
#%       set _ = idp_mapper_roles.append(mapping.role) %#
#%     endif %#
#%   endfor %#
#% endif %#
#% set has_roles = (keycloak_realm_roles is defined and keycloak_realm_roles | length > 0) or (idp_mapper_roles | length > 0) %#
#% if has_roles %#
    roles:
      realm:
#%   if keycloak_realm_roles is defined and keycloak_realm_roles %#
#%     for role in keycloak_realm_roles %#
        - name: "#{ role.name }#"
          description: "#{ role.description | default('Custom realm role') }#"
#%     endfor %#
#%   endif %#
#%   for role in idp_mapper_roles %#
        - name: "#{ role }#"
          description: "IdP mapper role (auto-added from *_default_role/*_role_mapping)"
#%   endfor %#
#% endif %#
#% if keycloak_bootstrap_oidc_client | default(false) %#
    #| =========================================================================== #|
    #| OIDC CLIENT BOOTSTRAP - Envoy Gateway SSO Client                            #|
    #| Auto-created when keycloak_enabled + oidc_sso_enabled + oidc_client_secret  #|
    #| The client secret is shared with Envoy Gateway SecurityPolicy               #|
    #| =========================================================================== #|
    clients:
      - clientId: "#{ oidc_client_id | default('envoy-gateway') }#"
        name: "Envoy Gateway SSO"
        description: "OIDC client for Envoy Gateway SecurityPolicy - enables browser SSO across all protected applications"
        enabled: true
        #| Client type: confidential (requires secret) #|
        publicClient: false
        clientAuthenticatorType: "client-secret"
        #| The secret is provided from cluster.yaml (SOPS-encrypted) #|
        secret: "#{ oidc_client_secret }#"
        #| OAuth2 flows #|
        standardFlowEnabled: true
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: false
        implicitFlowEnabled: false
        protocol: "openid-connect"
        #| Redirect URIs - wildcard for multi-app SSO #|
        redirectUris:
          - "https://*.#{ cloudflare_domain }#/oauth2/callback"
        #| Web origins for CORS #|
        webOrigins:
          - "https://*.#{ cloudflare_domain }#"
        #| Security: Require PKCE for authorization code flow #|
        attributes:
          pkce.code.challenge.method: "S256"
          post.logout.redirect.uris: "https://*.#{ cloudflare_domain }#/*"
        #| Default scopes for this client #|
        defaultClientScopes:
          - "openid"
          - "profile"
          - "email"
        optionalClientScopes:
          - "address"
          - "phone"
          - "offline_access"
#% endif %#
#% if google_idp_enabled | default(false) or github_idp_enabled | default(false) or microsoft_idp_enabled | default(false) %#
    #| =========================================================================== #|
    #| SOCIAL IDENTITY PROVIDERS - OAuth/OIDC Federation                           #|
    #| Conditionally include IdPs based on *_idp_enabled flags in cluster.yaml     #|
    #| Users authenticate via social accounts on the Keycloak login page           #|
    #| REF: docs/research/keycloak-social-identity-providers-integration-jan-2026.md #|
    #| =========================================================================== #|
    identityProviders:
#% if google_idp_enabled | default(false) %#
      - alias: "google"
        displayName: "Google"
        providerId: "google"
        enabled: true
        trustEmail: true
        storeToken: true
        linkOnly: false
        firstBrokerLoginFlowAlias: "first broker login"
        config:
          clientId: "#{ google_client_id }#"
          clientSecret: "#{ google_client_secret }#"
          defaultScope: "openid profile email"
          syncMode: "IMPORT"
#% endif %#
#% if github_idp_enabled | default(false) %#
      - alias: "github"
        displayName: "GitHub"
        providerId: "github"
        enabled: true
        trustEmail: true
        storeToken: true
        linkOnly: false
        firstBrokerLoginFlowAlias: "first broker login"
        config:
          clientId: "#{ github_client_id }#"
          clientSecret: "#{ github_client_secret }#"
          defaultScope: "user:email"
          syncMode: "IMPORT"
#% endif %#
#% if microsoft_idp_enabled | default(false) %#
      - alias: "microsoft"
        displayName: "Microsoft"
        providerId: "oidc"
        enabled: true
        trustEmail: true
        storeToken: true
        linkOnly: false
        firstBrokerLoginFlowAlias: "first broker login"
        config:
          clientId: "#{ microsoft_client_id }#"
          clientSecret: "#{ microsoft_client_secret }#"
          authorizationUrl: "https://login.microsoftonline.com/#{ microsoft_tenant_id | default('common') }#/oauth2/v2.0/authorize"
          tokenUrl: "https://login.microsoftonline.com/#{ microsoft_tenant_id | default('common') }#/oauth2/v2.0/token"
          userInfoUrl: "https://graph.microsoft.com/oidc/userinfo"
          jwksUrl: "https://login.microsoftonline.com/#{ microsoft_tenant_id | default('common') }#/discovery/v2.0/keys"
          issuer: "https://login.microsoftonline.com/#{ microsoft_tenant_id | default('common') }#/v2.0"
          defaultScope: "openid profile email"
          syncMode: "FORCE"
          validateSignature: "true"
          useJwksUrl: "true"
#% endif %#
#% endif %#
#% set has_mappers = (google_default_role is defined and google_default_role) or
                     (google_domain_role_mapping is defined and google_domain_role_mapping) or
                     (github_default_role is defined and github_default_role) or
                     (github_org_role_mapping is defined and github_org_role_mapping) or
                     (microsoft_default_role is defined and microsoft_default_role) or
                     (microsoft_group_role_mappings is defined and microsoft_group_role_mappings) %#
#% if has_mappers %#
    #| =========================================================================== #|
    #| IDENTITY PROVIDER MAPPERS - Automatic Role Assignment                       #|
    #| Maps IdP attributes/claims to Keycloak roles during user login              #|
    #| REF: docs/research/keycloak-social-identity-providers-integration-jan-2026.md #|
    #| =========================================================================== #|
    identityProviderMappers:
#% if google_idp_enabled | default(false) %#
#% if google_default_role is defined and google_default_role %#
      #| Google: Hardcoded role for all Google users #|
      - name: "google-default-role"
        identityProviderAlias: "google"
        identityProviderMapper: "oidc-hardcoded-role-idp-mapper"
        config:
          syncMode: "INHERIT"
          role: "#{ google_default_role }#"
#% endif %#
#% if google_domain_role_mapping is defined and google_domain_role_mapping %#
      #| Google: Map hosted domain (hd claim) to role #|
      - name: "google-domain-#{ google_domain_role_mapping.domain | replace('.', '-') }#"
        identityProviderAlias: "google"
        identityProviderMapper: "oidc-role-idp-mapper"
        config:
          syncMode: "INHERIT"
          claim: "hd"
          claim.value: "#{ google_domain_role_mapping.domain }#"
          role: "#{ google_domain_role_mapping.role }#"
#% endif %#
#% endif %#
#% if github_idp_enabled | default(false) %#
#% if github_default_role is defined and github_default_role %#
      #| GitHub: Hardcoded role for all GitHub users #|
      - name: "github-default-role"
        identityProviderAlias: "github"
        identityProviderMapper: "oidc-hardcoded-role-idp-mapper"
        config:
          syncMode: "INHERIT"
          role: "#{ github_default_role }#"
#% endif %#
#% if github_org_role_mapping is defined and github_org_role_mapping %#
      #| GitHub: Map organization membership to role (requires read:org scope) #|
      - name: "github-org-#{ github_org_role_mapping.org }#"
        identityProviderAlias: "github"
        identityProviderMapper: "oidc-advanced-role-idp-mapper"
        config:
          syncMode: "FORCE"
          claims: "[{\"key\":\"organizations_url\",\"value\":\".*#{ github_org_role_mapping.org }#.*\"}]"
          are.claim.values.regex: "true"
          role: "#{ github_org_role_mapping.role }#"
#% endif %#
#% endif %#
#% if microsoft_idp_enabled | default(false) %#
#% if microsoft_default_role is defined and microsoft_default_role %#
      #| Microsoft: Hardcoded role for all Microsoft users #|
      - name: "microsoft-default-role"
        identityProviderAlias: "microsoft"
        identityProviderMapper: "oidc-hardcoded-role-idp-mapper"
        config:
          syncMode: "INHERIT"
          role: "#{ microsoft_default_role }#"
#% endif %#
#% if microsoft_group_role_mappings is defined and microsoft_group_role_mappings %#
#% for mapping in microsoft_group_role_mappings %#
      #| Microsoft: Map Entra ID group to role #|
      - name: "microsoft-group-#{ mapping.role | replace('.', '-') }#"
        identityProviderAlias: "microsoft"
        identityProviderMapper: "oidc-advanced-role-idp-mapper"
        config:
          syncMode: "FORCE"
          claims: "[{\"key\":\"groups\",\"value\":\".*#{ mapping.group_id }#.*\"}]"
          are.claim.values.regex: "true"
          role: "#{ mapping.role }#"
#% endfor %#
#% endif %#
#% endif %#
#% endif %#
#% endif %#