#% if rustfs_enabled | default(false) %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrepository.yaml
  - ./helmrelease.yaml
  - ./secret.sops.yaml
  #| job-setup.yaml moved to ../setup/ with separate Kustomization dependency #|
  #| NOTE: RustFS Console HTTPRoute moved to network/envoy-gateway for OIDC protection #|
  #| ReferenceGrant must be in storage (target namespace) for cross-ns routing #|
  - ./referencegrant.yaml
#% if rustfs_monitoring_enabled | default(false) %#
  #| NOTE: RustFS does NOT support Prometheus pull-based metrics like MinIO. #|
  #|       It uses OpenTelemetry (OTLP) push mode instead.                   #|
  #|       ServiceMonitor removed - dashboard will show data when OTLP       #|
  #|       is configured via RUSTFS_OBS_METRIC_ENDPOINT env var.             #|
  #|       REF: https://github.com/rustfs/rustfs/issues/1228                 #|
  - ./dashboard-storage.yaml
#% endif %#
#% if network_policies_enabled | default(false) %#
  - ./networkpolicy.yaml
#% endif %#
#% endif %#