#% if rustfs_enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: rustfs-credentials
type: Opaque
stringData:
  root-user: "#{ rustfs_access_key | default('rustfsadmin') }#"
  root-password: "#{ rustfs_secret_key }#"
#% endif %#