#% if rustfs_enabled | default(false) and tracing_enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: tempo-s3-credentials
type: Opaque
stringData:
  access-key: "#{ tempo_s3_access_key | default('tempo') }#"
  secret-key: "#{ tempo_s3_secret_key }#"
#% endif %#