#% if rustfs_enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: rustfs-credentials
type: Opaque
stringData:
  #| Helm chart uses envFrom.secretRef - keys become env var names directly #|
  #| Must use RUSTFS_ prefix since chart doesn't transform existingSecret keys #|
  RUSTFS_ACCESS_KEY: "#{ rustfs_access_key | default('rustfsadmin') }#"
  RUSTFS_SECRET_KEY: "#{ rustfs_secret_key }#"
#% endif %#