#% if rustfs_enabled | default(false) %#
---
apiVersion: v1
kind: Namespace
metadata:
  name: storage
  labels:
    #| RustFS init container requires baseline for volume initialization #|
    pod-security.kubernetes.io/enforce: baseline
    pod-security.kubernetes.io/audit: baseline
    pod-security.kubernetes.io/warn: restricted
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
#% endif %#