---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./metrics-server/ks.yaml
  - ./reloader/ks.yaml
  #% if proxmox_ccm_enabled | default(false) %#
  - ./proxmox-ccm/ks.yaml
  #% else %#
  - ./talos-ccm/ks.yaml
  #% endif %#
  #% if spegel_enabled %#
  - ./spegel/ks.yaml
  #% endif %#
  #% if talos_backup_enabled %#
  - ./talos-backup/ks.yaml
  #% endif %#
