kubernetes-matherlynet-cp-1.yaml
kubernetes-matherlynet-cp-2.yaml
kubernetes-matherlynet-cp-3.yaml
kubernetes-matherlynet-wrkr-1.yaml
kubernetes-matherlynet-wrkr-2.yaml
kubernetes-matherlynet-wrkr-3.yaml
talosconfig
