#% if external_secrets_enabled is defined and external_secrets_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./external-secrets/ks.yaml
#% endif %#
