---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./cert-manager
  #% if proxmox_csi_enabled is defined and proxmox_csi_enabled %#
  - ./csi-proxmox
  #% endif %#
  - ./default
  - ./flux-system
  - ./kube-system
  #% if monitoring_enabled is defined and monitoring_enabled %#
  - ./monitoring
  #% endif %#
  - ./network
  - ./system-upgrade