---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./cert-manager
  #% if cnpg_enabled | default(false) %#
  - ./cnpg-system
  #% endif %#
  #% if proxmox_csi_enabled | default(false) %#
  - ./csi-proxmox
  #% endif %#
  - ./default
  #% if external_secrets_enabled | default(false) %#
  - ./external-secrets
  #% endif %#
  - ./flux-system
  - ./kube-system
  #% if monitoring_enabled | default(false) %#
  - ./monitoring
  #% endif %#
  - ./network
  #% if rustfs_enabled | default(false) %#
  - ./storage
  #% endif %#
  - ./system-upgrade