#% if proxmox_ccm_enabled | default(false) %#
---
apiVersion: v1
kind: Secret
metadata:
  name: proxmox-ccm-config
type: Opaque
stringData:
  config.yaml: |
    clusters:
      - url: "#{ proxmox_endpoint }#/api2/json"
        insecure: false
        token_id: "#{ proxmox_ccm_token_id }#"
        token_secret: "#{ proxmox_ccm_token_secret }#"
        region: "#{ proxmox_region | default('pve') }#"
#% endif %#