cluster:
  allowSchedulingOnControlPlanes: false
  apiServer:
    admissionControl:
      $$patch: delete
    extraArgs:
      # https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/
      enable-aggregator-routing: true
      # Enable ImageVolume feature gate for CNPG managed extensions
      feature-gates: ImageVolume=true
#% if kubernetes_oidc_enabled | default(false) %#
      # OIDC Authentication Configuration
      # REF: docs/research/kubernetes-api-server-oidc-authentication-jan-2026.md
      oidc-issuer-url: "https://#{ keycloak_subdomain | default('sso') }#.#{ cloudflare_domain }#/realms/#{ keycloak_realm | default('matherlynet') }#"
      oidc-client-id: "#{ kubernetes_oidc_client_id | default('kubernetes') }#"
      oidc-username-claim: "#{ kubernetes_oidc_username_claim | default('email') }#"
      oidc-username-prefix: "#{ kubernetes_oidc_username_prefix | default('oidc:') }#"
      oidc-groups-claim: "#{ kubernetes_oidc_groups_claim | default('groups') }#"
      oidc-groups-prefix: "#{ kubernetes_oidc_groups_prefix | default('oidc:') }#"
      oidc-signing-algs: "#{ kubernetes_oidc_signing_algs | default('RS256') }#"
#% endif %#
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  coreDNS:
    disabled: true
  etcd:
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
      - #{ node_cidr }#
  proxy:
    disabled: true
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0
