#% if keycloak_enabled | default(false) %#
---
#| ============================================================================= #|
#| KEYCLOAK OPERATOR - CRDs + RBAC + Deployment                                  #|
#| Source: https://github.com/keycloak/keycloak-k8s-resources                    #|
#| Version: #{ keycloak_operator_version | default('26.5.0') }#                  #|
#| ============================================================================= #|
#| The operator watches the namespace where it's deployed (identity).            #|
#| CRDs are installed cluster-wide but operator manages only this namespace.     #|
#| ============================================================================= #|
#| Keycloak CRD - defines Keycloak instances #|
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: keycloaks.k8s.keycloak.org
spec:
  group: k8s.keycloak.org
  names:
    kind: Keycloak
    listKind: KeycloakList
    plural: keycloaks
    singular: keycloak
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: The Keycloak instance status
          jsonPath: .status.conditions[?(@.type=="Ready")].status
          name: Ready
          type: string
        - description: The Keycloak instance URL
          jsonPath: .status.conditions[?(@.type=="HasErrors")].message
          name: Errors
          type: string
      name: v2alpha1
      schema:
        openAPIV3Schema:
          description: Keycloak is the Schema for the keycloaks API
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              description: KeycloakSpec defines the desired state of Keycloak
              properties:
                additionalOptions:
                  items:
                    properties:
                      name:
                        type: string
                      secret:
                        properties:
                          key:
                            type: string
                          name:
                            type: string
                          optional:
                            type: boolean
                        type: object
                      value:
                        type: string
                    type: object
                  type: array
                cache:
                  properties:
                    configMapFile:
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                        optional:
                          type: boolean
                      type: object
                  type: object
                db:
                  properties:
                    database:
                      type: string
                    host:
                      type: string
                    passwordSecret:
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                        optional:
                          type: boolean
                      type: object
                    poolInitialSize:
                      type: integer
                    poolMaxSize:
                      type: integer
                    poolMinSize:
                      type: integer
                    port:
                      type: integer
                    schema:
                      type: string
                    url:
                      type: string
                    usernameSecret:
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                        optional:
                          type: boolean
                      type: object
                    vendor:
                      type: string
                  type: object
                features:
                  properties:
                    disabled:
                      items:
                        type: string
                      type: array
                    enabled:
                      items:
                        type: string
                      type: array
                  type: object
                hostname:
                  properties:
                    admin:
                      type: string
                    adminUrl:
                      type: string
                    backchannelDynamic:
                      type: boolean
                    hostname:
                      type: string
                    strict:
                      type: boolean
                    strictBackchannel:
                      type: boolean
                  type: object
                http:
                  properties:
                    httpEnabled:
                      type: boolean
                    httpPort:
                      type: integer
                    httpsPort:
                      type: integer
                    tlsSecret:
                      type: string
                  type: object
                httpManagement:
                  properties:
                    port:
                      type: integer
                  type: object
                image:
                  type: string
                imagePullSecrets:
                  items:
                    properties:
                      name:
                        type: string
                    type: object
                  type: array
                ingress:
                  properties:
                    annotations:
                      additionalProperties:
                        type: string
                      type: object
                    className:
                      type: string
                    enabled:
                      type: boolean
                  type: object
                instances:
                  type: integer
                proxy:
                  properties:
                    headers:
                      enum:
                        - forwarded
                        - xforwarded
                      type: string
                  type: object
                resources:
                  properties:
                    limits:
                      additionalProperties:
                        anyOf:
                          - type: integer
                          - type: string
                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                        x-kubernetes-int-or-string: true
                      type: object
                    requests:
                      additionalProperties:
                        anyOf:
                          - type: integer
                          - type: string
                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                        x-kubernetes-int-or-string: true
                      type: object
                  type: object
                startOptimized:
                  type: boolean
                transaction:
                  properties:
                    xaEnabled:
                      type: boolean
                  type: object
                truststores:
                  properties:
                    secret:
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                        optional:
                          type: boolean
                      type: object
                  type: object
                unsupported:
                  properties:
                    podTemplate:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                  type: object
              type: object
            status:
              description: KeycloakStatus defines the observed state of Keycloak
              properties:
                conditions:
                  items:
                    properties:
                      lastTransitionTime:
                        format: date-time
                        type: string
                      message:
                        type: string
                      observedGeneration:
                        format: int64
                        type: integer
                      reason:
                        type: string
                      status:
                        type: string
                      type:
                        type: string
                    required:
                      - status
                      - type
                    type: object
                  type: array
                instances:
                  items:
                    type: string
                  type: array
                observedGeneration:
                  format: int64
                  type: integer
                selector:
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        scale:
          specReplicasPath: .spec.instances
          statusReplicasPath: .status.instances
        status: {}
---
#| KeycloakRealmImport CRD - for importing realm configuration #|
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: keycloakrealmimports.k8s.keycloak.org
spec:
  group: k8s.keycloak.org
  names:
    kind: KeycloakRealmImport
    listKind: KeycloakRealmImportList
    plural: keycloakrealmimports
    singular: keycloakrealmimport
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: The KeycloakRealmImport status
          jsonPath: .status.conditions[?(@.type=="Done")].status
          name: Done
          type: string
        - description: The KeycloakRealmImport has errors
          jsonPath: .status.conditions[?(@.type=="HasErrors")].message
          name: Errors
          type: string
      name: v2alpha1
      schema:
        openAPIV3Schema:
          description: KeycloakRealmImport is the Schema for the keycloakrealmimports API
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              description: KeycloakRealmImportSpec defines the desired state of KeycloakRealmImport
              properties:
                keycloakCRName:
                  type: string
                realm:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              required:
                - keycloakCRName
                - realm
              type: object
            status:
              description: KeycloakRealmImportStatus defines the observed state of KeycloakRealmImport
              properties:
                conditions:
                  items:
                    properties:
                      lastTransitionTime:
                        format: date-time
                        type: string
                      message:
                        type: string
                      observedGeneration:
                        format: int64
                        type: integer
                      reason:
                        type: string
                      status:
                        type: string
                      type:
                        type: string
                    required:
                      - status
                      - type
                    type: object
                  type: array
                observedGeneration:
                  format: int64
                  type: integer
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
---
#| ServiceAccount for Keycloak Operator #|
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keycloak-operator
  namespace: identity
  labels:
    app.kubernetes.io/name: keycloak-operator
    app.kubernetes.io/version: "#{ keycloak_operator_version | default('26.5.0') }#"
---
#| ClusterRole - Operator needs cluster-wide access to CRDs and namespaces #|
#| REF: https://github.com/keycloak/keycloak-k8s-resources/blob/26.5.0/kubernetes/kubernetes.yml #|
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: keycloak-operator-clusterrole
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - k8s.keycloak.org
    resources:
      - keycloaks
      - keycloaks/status
      - keycloaks/finalizers
      - keycloakrealmimports
      - keycloakrealmimports/status
      - keycloakrealmimports/finalizers
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
---
#| ClusterRoleBinding #|
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: keycloak-operator-clusterrole-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: keycloak-operator-clusterrole
subjects:
  - kind: ServiceAccount
    name: keycloak-operator
    namespace: identity
---
#| Role - Namespace-scoped permissions for managing Keycloak resources #|
#| REF: https://github.com/keycloak/keycloak-k8s-resources/blob/26.5.0/kubernetes/kubernetes.yml #|
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keycloak-operator-role
  namespace: identity
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - list
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
      - networkpolicies
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  #| Optional: ServiceMonitor for Prometheus integration (requires prometheus-operator CRDs) #|
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
---
#| RoleBinding #|
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keycloak-operator-role-binding
  namespace: identity
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keycloak-operator-role
subjects:
  - kind: ServiceAccount
    name: keycloak-operator
    namespace: identity
---
#| Keycloak Operator Deployment #|
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak-operator
  namespace: identity
  labels:
    app.kubernetes.io/name: keycloak-operator
    app.kubernetes.io/version: "#{ keycloak_operator_version | default('26.5.0') }#"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: keycloak-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: keycloak-operator
    spec:
      serviceAccountName: keycloak-operator
      containers:
        - name: keycloak-operator
          image: "quay.io/keycloak/keycloak-operator:#{ keycloak_operator_version | default('26.5.0') }#"
          imagePullPolicy: IfNotPresent
          env:
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: RELATED_IMAGE_KEYCLOAK
              value: "quay.io/keycloak/keycloak:#{ keycloak_operator_version | default('26.5.0') }#"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: tmp
          emptyDir: {}
#% endif %#