#% if network_policies_enabled | default(false) and monitoring_enabled | default(false) %#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring-network-policies
spec:
  dependsOn:
    - name: cluster-network-policies
  interval: 1h
  retryInterval: 30s
  path: ./kubernetes/apps/monitoring/network-policies/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
  timeout: 5m
  wait: true
#% endif %#
