#% if cnpg_enabled | default(false) %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-system

resources:
  - ./namespace.yaml
  - ./cloudnative-pg/ks.yaml
#% if cnpg_barman_plugin_enabled | default(false) %#
  - ./barman-cloud-plugin/ks.yaml
#% endif %#
#% endif %#
